:root {
  --color-white: #192252;
  --color-grey: #848fac;
  --color-dot-disabled: rgba(250, 176, 71, 0.35);
  --color-dot-active: #fab047;

  --content-color: var(--color-grey);
  --header-color: var(--color-white);
}

.section {
  padding: 80px 120px;
}

.header, .main, .footer .footer__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 32px;

  .header__logo {
    min-width: 228px;
    color: var(--header-color);
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
  }

  .header__menu {
    margin: 0 auto;
  }

  .header__list {
    display: flex;
    gap: 36px;
    list-style-type: none;
  }

  .header__link {
    color: var(--header-color);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  .common-button {
    padding: 14px 16px;
  }
}

.site-activity {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;

  .site-activity__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -65px;

    .common-button {
      margin-right: auto;
    }
  }

  .site-activity__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: var(--header-color);
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.48px;
  }

  .site-activity__description {
    margin-bottom: 59px;
    color: var(--content-color);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
  }

  .site-activity__triptych {
    display: flex;
    gap: 24px;
  }

  .site-activity__image {
    width: 180px;
    height: 588px;
  }

  .site-activity__image:nth-child(2) {
    margin-top: 81px;
  }
}

.about {
  display: flex;

  .about__image {
    width: 384px;
    height: 576px;
  }

  .about__description {
    display: flex;
    flex-direction: column;
    margin: 110px auto 0;

    .main-info {
      margin-bottom: 17px;

      .main-info__title {
        margin-bottom: 28px;
      }

      .main-info__description {
        max-width: 560px;
      }
    }

    .common-button {
      margin-right: auto;
    }
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 226px;

  .benefit__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .benefit__description_reverse {
    flex-direction: row-reverse;
  }

  .benefit__image {
    width: 384px;
    height: 384px;
  }
}

.interiors {
  padding: 80px 0 0;

  .interiors__title {
    margin-bottom: 28px;
    color: var(--color-white);
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.36px;
    text-align: center;
  }

  .tiles__wrapper {
    position: relative;
  }

  .dots {
    position: absolute;
    bottom: 29px;
    left: 50%;

    .dots__item {
      background-color: #fff;
    }

    .dots__item_active {
      background-color: rgba(250, 176, 71, 0.85);
    }
  }
}

.tiles {
  display: flex;
  justify-content: space-between;

  .tiles__side-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tiles__current-image {
    width: 344px;
    height: 194px;
  }

  .tiles__current-image_active {
    width: 100%;
    height: 100%;
  }
}

.reservation {
  .reservation__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;
  }

  .reservation__main-info {
    margin-bottom: 32px;

    .main-info__title, .main-info__description {
      text-align: center;
    }

    .main-info__description {
      max-width: initial;
    }
  }


  .reservation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    list-style-type: none;
  }
}

.main-info {
  .main-info__title {
    margin-bottom: 24px;
    color: var(--header-color);
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.36px;
    text-align: left;
  }

  .main-info__description {
    max-width: 584px;
    color: var(--content-color);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    text-align: left;
  }
}

.common-button {
  border-radius: 4px;
  padding: 16px 32px;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  background: #0E1734;
}

.card {
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 100%;

  .card__image {
    margin-bottom: 32px;
  }

  .card__title {
    margin-bottom: 16px;
    color: #000;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 150%;
  }

  .card__description {
    display: flex;
    flex-grow: 1;
    color: #848FAC;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
  }

  .card__link-more {
    margin-top: 30px;
    color: #424F7B;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;

    &:after {
      content: url("/images/Arrow_Right.svg");
      position: relative;
      top: 4px;
      right: -10px;
    }
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 323px;
  padding-left: 323px;

  .reviews__title {
    margin-bottom: 62px;
    color: var(--header-color);
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.36px;
    text-align: center;
  }

  .reviews__item {
    margin-bottom: 24px;
  }
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 72px;
  list-style-type: none;

  .dots__item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-dot-disabled);
  }

  .dots__item_active {
    width: 12px;
    height: 12px;
    background-color: var(--color-dot-active);
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .review__avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 44px;
    border-radius: 50%;
  }

  .review__text {
    max-width: 750px;
    margin-bottom: 40px;
    color: var(--content-color);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    text-align: center;
  }

  .review__signature {
    color: #192252;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
    text-align: center;
  }
}

.footer {
  background-color: #0B265A;
  --content-color: #d9dbde;
  --header-color: #fff;

  .footer__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .footer__menu {
    display: flex;
    gap: 77px;
  }

  .footer__menu-container {
    display: flex;
    gap: 95px;
  }

  .footer-about {
    margin-bottom: 36px;
  }
}

.socials {
  .socials__list {
    display: flex;
    gap: 20px;
    padding-left: 5px;
    list-style-type: none;

    .socials__list-item {
      .socials__link {
        display: flex;
        width: 100%;
        height: 100%;

        .socials__link-vk {
          width: 44px;
          height: 26px;
        }

        .socials__link-tweeter {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.footer-about {
  display: flex;
  flex-direction: column;

  .footer-about__label {
    color: var(--header-color);
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .footer-about__description {
    margin: 13px 0 0;
    color: var(--content-color);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
  }
}

.menu {
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    list-style-type: none;

    .menu__title {
      color: var(--header-color);
      font-weight: 700;
      letter-spacing: 0.16px;
    }

    .menu__link {
      color: var(--content-color);
      font-weight: 400;
      text-decoration: none;
    }

    .menu__link[href*="tel:"] {
      opacity: 0.8;
    }
  }
}